.credit
  %h2.credit_head 支払い方法
  .credit_content
    %h3.credit_content_head クレジットカード一覧
    .credit_content_card
      = link_to new_mypage_creditcard_path, class: 'credit_content_card_link' , data: {"turbolinks" => false} do
        = fa_icon 'credit-card'
        %span クレジットカードを追加する
    = link_to '#', class: 'credit_content_about-link' do
      %span 支払い方法について
      = fa_icon 'chevron-right'
