.registration-box

  = render "shared/simple-header2"

  .registration-main
    .registration-main-container
      %h2.registration-main-container_head
        会員情報入力
      %form.registration-main-container_box
        -# %input(情報入力先指定)
        .registration-main-container_box_input

          .registration-form-group メールアドレス
          .registration-form-group パスワード
          .registration-form-group パスワード (確認)
          .registration-form-group-text 本人確認
          .registration-form-group 姓 (全角)
          .registration-form-group 名 (全角)
          .registration-form-group 姓カナ (全角)
          .registration-form-group 名カナ (全角)
          .registration-form-group-birthday 生年月日
          %p.form-info_text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .registration-main-container_box_send

  = render "shared/simple-footer"

  -# %h2 Sign up
  -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  -#   = render "devise/shared/error_messages", resource: resource
  -#   .field
  -#     = f.label :email
  -#     %br/
  -#     = f.email_field :email, autofocus: true, autocomplete: "email"
  -#   .field
  -#     = f.label :password
  -#     - if @minimum_password_length
  -#       %em
  -#         (#{@minimum_password_length} characters minimum)
  -#     %br/
  -#     = f.password_field :password, autocomplete: "new-password"
  -#   .field
  -#     = f.label :password_confirmation
  -#     %br/
  -#     = f.password_field :password_confirmation, autocomplete: "new-password"
  -#   .actions
  -#     = f.submit "Sign up"
  -# = render "devise/shared/links"
