-# 取引完了画面
-# https://www.mercari.com/jp/transaction/buy/done/m22510496406/
.single
  = render 'shared/simple-header'
  .single-main
  %h2 購入が完了しました！
  %p
  = @product.name
  %p ¥ #{@product.price}(税込)
  = render 'shared/simple-footer'