<div class="logout">
  <form action="#" method="POST" class="logout_inner-form">
    <div class="logout_inner-form_content">
      <button type="submit" class="logout_inner-form_content_logout-btn">ログアウト</button>
    </div>
  </form>
</div>
