.required-tag {
    background: $red;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    vertical-align: top;
}
.quiestion-tag {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $blue;
    color: $white;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
}

.optional-tag {
    background: #CCCCCC;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    vertical-align: top;
  }
  
