.simple-header2
  %h1.simple-header2_logo
    =link_to root_index_path, class: "simple-header2_logo_url" do
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2342399531",alt:"mercari",class:"simple-header2_logo_url_image")