.item-card{
  margin: 0 0 0 20px;
  width: 213px;
  height: 330px;
  position: relative;
  &_url{
    display: block;
    color: #333;
    text-decoration: none;
    .item-card-photo{
      height: 220px;
      .lazyloaded{
        position: absolute;
        width: 100%;
      }
    }
    .item-card-body{
      padding: 16px;
      height: 78px;
      &_name{
        overflow: hidden;
        position: relative;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
      }
      &_num{
        display: flex;
        justify-content: space-between;
        margin: 8px 0 0;
        &_price{
          font-size: 17px;
          font-weight: 600;
          color: #333;
        }
        .font-2{
          font-size: 16px;
          font-weight: 400;
          color: #333;
          .icon-like-borde{
            color: #ccc;
          }
        }
    }
    }
    .item-card-tax{
      font-size: 10px;
    }
  }
}
