.logout {
  float:right;
  width: 700px;
  height: 180px;
  margin: 0;
  background: $white;
  
  &_inner-form {
    padding: 64px;
    border-top: 1px solid $background;
    &_content {
      max-width: 320px;
      margin: 0 auto;
      &_logout-btn {
        margin: 0;
        background: $red;
        border: 1px solid $red;
        color: $white;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-image: initial;
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
      }
    }
  }
}
