.my-side{
  float: left;
  width: 280px;
  height: 100vh;
  margin: 0 40px 0 0;

.mypage-navi{

  .mypage-navi-list{
    list-style: none;
    &_li{
      border-top: 1px solid #eee;

      &_item{
        position: relative;
        display: block;
        height: 16px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        text-decoration: none;
      }
      &_icon{
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
        color: #ccc;
      }
    }
  }
  &_head{
    margin: 40px 0 0;
  }
}
}