.mypage-tab_container_notification-todo{
  margin: 0;
  height: 567px;
  background-color:white;
  .mypage-tabs{
    border: 0;
    font-size: 0;
    &_2{
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;


        &_notification{
          text-decoration: none;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 74px;
          background: #eee;

        }
        &_todo{
          text-decoration: none;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 74px;

        }
    }
  }

  .tab-content{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 493px;

    .mypage-item-list{
      height: 493px;
      
      &_links{

        border-bottom: 1px solid #eee;
        height: 80px;
        .mypage-item-list_link{
          position: relative;
          display: block;
          height: 48px;
          padding: 16px;
          color: #333;
          text-decoration: none;
          .news-size-icon{
            height: 48px;
            float: left;
          }
          .mypage-item-news{
            margin: 0 40px 0 68px;
            &_text{
              font-size: 14px;
            }
            &_time{
              display: inline-block;
              color: #888;
              font-size: 14px;
              .icon-time{
                color: #888;
                font-size: 14px;
                height: 16px;
                width: 16px;
              }
            }
          }
          .news-arrow-icon{
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
            color: $black;
          }
        }
      }
      .mypage-go-list{
        position: relative;
        padding: 16px;
        height: 56px;
        &_link{
          display: block;
          height: 56px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}