.product-change-box{
    box-sizing: border-box;
    margin: 20px auto;
    background: $white;
    padding: 8px 16px;
    width: 700px;

    .btn-default {
        margin: 16px 0;
        display: block;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .btn-red {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
    }

    .p {
        font-size: 16px;
    }

    .text-center {
        text-align: center;
    }

    .btn-gray {
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
    }
}
