.product-buy {
  &_btn {
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 16px 0 0;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
  }
}
