#session-sign-in

  .sign-in {
    background-color: #f5f5f5;
    height: 100%;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    .contents{
      margin: 0 auto;
      width: 456px;
      .sign_up{
        background-color: white;
        text-align: center;
        padding: 40px 64px;
        p{
        font-size: 14px;
        }
        &__registrattion{
          display: block;
          color: white;
          line-height: 40px;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background-color: #0099e8;
          text-decoration: none;
        }
      }
      .main{
        background-color: white;
        border-top: 1px solid #eee;
        &__sns{
          text-align: center;
        }
        .account-button{
          padding: 32px 64px;
          .facebook{
            position: relative;
            .fa-facebook-square{
              position: absolute;
              top: 10px;
              bottom: 0;
              right: 270px;
              left: 0;
              color: white;
              font-size: 33px;
              text-decoration: none;
            }
          }
          .google{
            position: relative;
            .fa-google{
              position: absolute;
              top: 11px;
              bottom: 0;
              right: 267px;
              left: 0;
              color: #f700ff;
              font-size: 28px;
              text-decoration: none;
            }
          }
          &__facebook{
            display: block;
            color: white;
            line-height: 48px;
            border: 1px solid transparent;
            background-color: #385185;
            text-decoration: none;
          }
          &__google{
            display: block;
            margin: 16px 0 0;
            line-height: 48px;
            border: 1px solid #979797;
            background-color: #fff;
            color: #333;
            text-decoration: none;
          }
        }
      }
      .form{
        padding: 24px 100px 32px 66px;
        &__enter{
          height: 22px;
          width: 100%;
          border: 1px solid #979797;
          padding: 10px 16px 8px;
          border-radius: 3px;
        }
        .password{
          margin-top: 24px;
        }
        .confirmbox{
          width: 300px;
          color:black;
          margin-top: 24px;
          line-height: 70px;
          border: 1px solid #979797;
          background-color: #f5f5f5;
          border-radius: 3px;
        }
        .login{
          width: 323px;
          color: white;
          margin-top: 24px;
          line-height: 48px;
          border: 1px solid #ea352d;
          background-color: #ea352d;
        }
        .forget-password{
          margin: 40px 0 0;
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }