.credit {
  float: right;
  margin: 0;
  background: #fff;
  width: 700px;
  
  &_head {
    font-size: 24px;
    padding: 8px 24px;
    padding: 12px 4%;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-weight: bold;
  }
  &-brand_list {
    margin: 8px 0 0;
    font-size: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 0 0 8px;
      vertical-align: middle;
    }
  }
  &_content {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    &_head {
      max-width: 320px;
      margin: 0px auto;
      font-weight: bold;
    }
    &_card {
      padding: 24px 0px;
      border-bottom: 1px solid rgb(238, 238, 238);
      &_num {
        font-size: 13px;
        margin: 8px 0px 0px;
      }
      &_remove-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        color: rgb(234, 53, 45);
        padding: 1px 6px;
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 53, 45);
        border-image: initial;
        font-size: 14px;
      }
      &-inf {
        position: relative;
        max-width: 320px;
        margin: 0px auto;
        img {
          vertical-align: middle;
        }
        figure {
          padding: 0;
          margin: 0;
        }
      }
      &_link {
        max-width: 320px;
        margin: 0px auto;
        color: rgb(255, 255, 255);
        background: rgb(234, 53, 45);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 53, 45);
        border-image: initial;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
      }
    }
    &_about-link {
      display: block;
      text-align: right;
      margin: 40px 0px 0px;
      color: rgb(0, 153, 232);
      text-decoration: none;
      font-size: 14px;
    }
  }
  &_form {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    label {
      font-size: 14px;
      font-weight: 600;
    }
    &_btn {
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      margin: 40px 0 0;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
    &_question {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #0099e8;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
    }
    &_what-code {
      position: relative;
      margin: 8px 0 0;
      &_text {
        text-align: right;
        color: #0099e8;
        font-size: 14px;
      }
    }
    &_select-wrap {
      display: inline-block;
      width: 35%;
      margin: 8px 0 0;
      position: relative;
      background: #fff;
      &_icon {
        position: absolute;
        right: 16px;
        top: 50%;
        z-index: 2;
        color: #888;
        font-size: 14px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
      &_expire {
        width: 100%;
        position: relative;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    &-group {
      margin: 0;
      &__mt {
        margin: 40px 0 0;
      }
    }
    &-content {
      max-width: 320px;
      margin: 0 auto;
    }
    &_input {
      width: 100%;
      height: 48px;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box;
    }
  }
}
