.main_container {
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

  .main-contents {
    min-height: 2100px;
    width: 100%;
    &_conteiner {
      min-height: 2100px;
      width: 700px;
      margin: 0 auto;
      background-color: $white;
      &_inner {
        height: 100%;
        width: 100%;
        .header-text {
          padding: 32px 16px;
          font-size: 22px;
          text-align: center;
          font-weight: bold;
          border-bottom: solid 1px #EEEEEE;
        }

        .sell-form {
          height: 100%;
          width: 700px;
        }

          .sell-form_image-box {
            min-height: 220px;
            padding: 40px;
            border-bottom: solid 1px #EEEEEE;
            
              .sell-upload-head {
                font-size: 16px;
                font-weight: bold;
              }
            
              .sell-upload_text-bottom {
                font-size: 13px;
                margin-top: 3px;
              }

              .sell-box_container {
                width: 620px;
                height: 162px;
                margin-top: 8px;
                background-color: $white;
                outline: 0;
                
                
                .sell-upload-item{
                  float: left;
                  width: 112px;
                  height: 162px;
                  margin: 0 10px 10px 0;
                  font-size:14px;
                  line-height: 14px;
                  text-align: center;
                  background-color: $white;
                  border: 1px solid $gray;
                  border-bottom: none;
        
                  img{
                    height: 114px;
                    width: 100%;
                  }

                  .sell-upload-button{
                    display: block;
                    width: 114px;
                    height: 44px;
                    color:$blue;
                    background-color: $gray;
                    

                    .btn.edit {
                      display: inline-block;
                      width: 50%;
                      height: 100%;
                      margin-top: 15px;
                    }

                    .btn.delete{
                      display: inline-block;
                      width: 50%;
                      height: 100%;
                      margin-top: 15px;
                    }
                  } 
                }

                .sellzone-area{
                  position: relative;
                  float: left;
                  height: 162px;
                  width: 100%;
                  box-sizing: border-box;
                  padding: 40px;
                  margin-bottom: 10px;
                  background-color: $gray;
                  border: 1px dashed #CCCCCC;
                  cursor: pointer;  
                
                  .sellzone-box{
                    display: block;
                    background-color: #F5F5F5;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;  
                
                    .input_area{  
                      display: none;
                      word-wrap: break-all;  
                    }
                      p{
                        margin-top:20px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.5;
                        
                      } 
                  }
                }  
                
                .sellzone-area2{
                  display: none;
                  float: left;
                  height: 162px;
                  width: 100%;
                  box-sizing: border-box;
                  padding: 40px;
                  background-color: $gray;
                  border: 1px dashed #CCCCCC;
                  cursor: pointer;

                
                  .sellzone-box{
                    display: block;
                    background-color: #F5F5F5;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;  
                
                    .input_area{  
                      display: none;
                      word-wrap: break-all;  
                    }
                      p{
                        margin-top:20px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.5;
                        
                      } 
                  }
                }  
                

                
                /*
                .file img{
                  height: 100%;
                  width: 100%;
                  cursor:pointer;
                  border-style: none;
                }

                .file pre{
                  position: absolute;
                  top: 50%;
                  left: 16px;
                  right: 16px;
                  text-align: center;
                  font-size: 14px;
                  line-height: 1.5;
                  transform: translate(0, -50%);
                  white-space: pre-wrap;
                  word-wrap: break-word;
                  pointer-events: none;
                }

                .file input{
                  display:none;
                }
                */
              
            }
          }

          

            .sell-content_basic {
              min-height: 220px;
              width: 620px;
              padding: 40px;
              border-bottom: solid 1px rgb(245, 245, 245);
              [type="text"]:focus {
                outline: 0;
                border-color: #099BE8;
              }
              .form_product-name {
                height: 70px;
                width: 600px;

                label {
                  height: 14px;
                  width: 85px;
                  font-size: 14px;
                  font-weight: 900;
                }

                .input-name {
                  height: 28px;
                  width: 590px;
                  border: solid 1px;
                  border-radius: 5px;
                  border-color: rgb(209, 209, 209);
                  padding: 10px 16px 8px 16px;
                  
                }
                [type="text"]:focus {
                  outline: 0;
                  border-color: #099BE8;
                }
              }

              .form_product-intro {
                height: 164px;
                width: 620px;
                margin-top:40px;
                word-wrap: break-word;
               
                

                label {
                  height: 14px;
                  width: 85px;
                  font-size: 14px;
                  font-weight: 900;
                }  
              
                .input-intro {
                  height: 142px;
                  width: 590px;
                  border: solid 1px;
                  border-radius: 5px;
                  border-color: rgb(209, 209, 209);
                  padding: 10px 16px 8px 16px;
                }
                input[type="text"]:focus,textarea:focus {
                  outline: 0;
                  border-color: #099BE8;
                }   
              }
            }
            
            .sell-content_category {
                height: 180px;
                width: 620px;
                padding: 40px;
                border-bottom: solid 1px rgb(245, 245, 245);
                
              h3 {
                width: 70px;
                float: left;
                font-size: 14px;
                font-weight: 900;
                color: rgb(136, 136, 136);
              }
              .sell-form-box {
                height: 180px;
                width:400px;
                float: right;
                .form-area:nth-of-type(1) {
                  display: block;
                  height: 90px;
                  width: 100%;
                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  .select-wrap:nth-of-type(1) {
                    display: block;
                    height:60px;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }  

                  .select-wrap:nth-of-type(2) {
                    display: none;
                    height:60px;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }

                  .select-wrap:nth-of-type(3) {
                    display: none;
                    height:60px;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }
                }

                .form-area:nth-of-type(2) {
                  display: none;
                  height: 90px;
                  width: 100%;
                  margin-top:10px;

                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  .select-wrap{
                    display: block;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }
                }
                .form-area:nth-of-type(3) {
                  display: none;
                  height: 90px;
                  width: 100%;
                  margin-top:10px;

                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  .select-wrap {
                    display: block;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }  
                }
              

                .form-area:nth-of-type(4) {
                  display: block;
                  height: px;
                  width: 100%;
                  margin-top:5px;
                  
                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  .select-wrap {
                    display: block;

                    .select-place {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      height: 48px;
                      width: 100%;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border-color: rgb(206, 206, 206);
                      background-color: white;
                      z-index: 2;
                    }
                    
                    .arrow-icon {
                      display: inline-block;
                      position: relative;
                      left: 370px;
                      top: -37px;
                      z-index: 2;
                      color: rgb(136, 136, 136);
                    } 

                    .select-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                    .text-place {
                      appearance: none;
                      height: 48px;
                      width: 390px;
                      position: relative;
                      font-size: 16px;
                      padding: 0 0px 0 7px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background-color: white;
                      z-index: 2;
                    }
                    .text-place:focus {
                      outline: 0;
                      border-color: #099BE8;
                    }
                  }  
                }          
              }
            }
            
            
            .sell-content_delivery {
              min-height: 290px;
              width: 620px;
              padding: 40px;
              border-bottom: solid 1px rgb(245, 245, 245);

              h3 {
                font-size: 14px;
                font-weight: 900;
                float: left;
                color: rgb(136, 136, 136);
              }
              .sell-form-box {
                height: 290px;
                width:400px;
                float: right;
                .form-area {
                  height:70px;
                  width:400px;
                  margin-bottom:40px;
                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  div {
                    .select-wrap {
                      margin: 6px 0 0;
                      .select-place {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        display: inline-block;
                        height: 48px;
                        width: 100%;
                        position: relative;
                        font-size: 16px;
                        padding: 0 0px 0 7px;
                        border-radius: 4px;
                        border-color: rgb(206, 206, 206);
                        background-color: white;
                      }
                      .select-place:focus {
                        outline: 0;
                        border-color: #099BE8;
                      }
                      .arrow-icon {
                        display: inline-block;
                        position: relative;
                        left: 370px;
                        top: -37px;
                        z-index: 2;
                        color: rgb(136, 136, 136);
                      }
                    }
                  } 
                }
                #shipping_period_before_shipping.form-area {
                  display: none;
                  width:400px;
                  height:70px;
                  
                  label {
                    font-size: 14px;
                    font-weight: 900;
                  }
                  div {
                    .select-wrap {
                      margin: 6px 0 0;
                      .select-place {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        display: inline-block;
                        height: 48px;
                        width: 100%;
                        position: relative;
                        font-size: 16px;
                        padding: 0 0px 0 7px;
                        border-radius: 4px;
                        border-color: rgb(206, 206, 206);
                        background-color: white;
                      }
                      .select-place:focus {
                        outline: 0;
                        border-color: #099BE8;
                      }
                      .arrow-icon {
                        display: inline-block;
                        position: relative;
                        left: 370px;
                        top: -37px;
                        z-index: 2;
                        color: rgb(136, 136, 136);
                      }
                    }
                  } 
                }
              }
            }
  
            .sell-content_plice {
              min-height: 220px;
              width: 620px;
              padding: 40px;
              border-bottom: solid 1px rgb(245, 245, 245);

              h3 {
                font-size: 14px;
                font-weight: 900;
                float: left;
                color: rgb(136, 136, 136);
              }
    
                .sell-price_box {
                  width: 400px;
                  height: 218px;
                  margin: 0;
                  float: right;

                  .sell-price_form {
                    width: 400px;
                    height: 218px;
                    
                    .price_form {
                      height: 48px;
                      width: 400px;
                      padding: 0 0 24px;
                      border-bottom: solid 1px rgb(209, 209, 209);
                
                      .price_form-area {
                        height: 48px;
                        width: 400px;
                      
                        .left-text {
                          width: 50%;
                          line-height: 48px;
                          font-weight: 600; 
                          font-size: 14px;
                          float: left;
                        }

                      .right-price_input {
                        width: 50%;
                        float: right;
                        text-align: right;
                        font-size: 12px;
                          
                          div {
                            width: 80%;
                            height: 48px;
                            padding-left: 5%;
                            display: inline-block;

                            .price_input {
                              text-align: right;
                              height: 28px;
                              width: 128px;
                              font-size: 14px;
                              padding: 10px 16px 8px;
                              border: solid 1px;
                              border-radius: 4px;
                              border-color: rgb(206, 206, 206); 
                            }
                            [type="text"]:focus {
                              outline: 0;
                              border-color: #099BE8;
                            }
                          }
                        }  
                      }  
                    }
                                
                  .price_fee {
                    height: 14px;
                    width: 400px;
                    padding: 24px 0;
                    font-size: 14px;
                    border-bottom: solid 1px rgb(209, 209, 209);
                    
                    .left-text {
                      font-size: 14px;
                      float: left;
                    }
                    
                    .right-price {
                      float: right;
                    }
                  }
                  
                  .profit {
                    height: 34px;
                    width: 400px;
                    padding: 24px 0;
                    font-weight: 600;
                  }
                }
              }
            }


            .sell-content_sell-btn-box {
              display: block;
              min-height: 250px;
              width: 620px;
              padding: 40px;
              border-bottom: solid 1px rgb(245, 245, 245);
              
              div {
                height: 84px;
                width: 620px;
                p {
                  font-size: 14px;
                }
                a {
                  text-decoration: none;
                  color: $blue;
                }
              }
            
              .btn-sell.btn-red {
                display: block;
                margin: 40px 0 0;
                line-height: 48px;
                font-size: 14px;
                text-align: center;
                height: 48px;
                width: 620px;
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                
              }  
              .btn-sell.btn-gray {              
                display: block;
                margin: 40px 0 0;
                line-height: 48px;
                font-size: 14px;
                text-align: center;
                height: 48px;
                width: 277px;
                margin: 24px auto 0;
                background: #aaa;
                border: 1px solid #aaa;
                color: #fff;
              } 
            }
          }
      }
    }
  }