.single-main {
    .l-single-head {
        padding: 24px 8px;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    }
    .buy-content.buy-item {
        .buy-item {
            text-align: center;
        }
        .buy-content-inner {
            max-width: 320px;
            margin: 0 auto;
            .buy-item-name {
              margin: 8px 0 0;
              font-size: 16px;
              line-height: 1.5;
          }
        }
    }
}