.simple-header{
  height: 128px;
  text-align: center;
  &_logo{
    margin: 40px 0 0;
    display: inline-block;
    height: 49px;
    &_url{
      display: block;
      height: 49px;
      margin: 0 8px 0 0;
      text-decoration: none;
      &_image{
        width: 185px;
        height: 49px;
      }
    }
  }
}