%section.mypage-tab_container_notification-todo
  %ul.mypage-tabs
    %li.mypage-tabs_2
      = link_to 'お知らせ',user_index_path,class: "mypage-tabs_2_notification"
    %li.mypage-tabs_2
      = link_to 'やることリスト',user_index_path,class: "mypage-tabs_2_todo"
  -# %aside
  .tab-content
    %ul#tab-content-notification.mypage-item_list
      -# %li(お知らせを配列で)
      %li.mypage-item_links
        %a{href: user_index_path, class: "mypage-item_link",data_open: "model",data_model: "banner"}
          %figure
            %img{alt: "" ,src:"//static.mercdn.net/images/mercari_profile.png",class: " lazyloaded",data_src:"//static.mercdn.net/images/mercari_profile.png"}
          .mypage-item-body
            .mypage-item-body_text お知らせ①
            .time
              %i.icon-time
              %span ２日前
          %i.icon-arrow-icon
      %li.mypage-go-list
        = link_to '一覧を見る',user_index_path,class: "mypage-go-list"
    %ul#tab-content-todo.mypage-item-list