%section.mypage-user_icon
  -# = link_to '', user_index_path,class: "mypage-user_icon_link"
  %a{href: user_index_path, class: "mypage-user_icon_link"}
    %figure.figure
      %img{alt:  "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}
    %h2.bold ユーザーA
    .mypage-number
      .mypage-number_evaluation 評価 0
      .mypage-number_exhibits 出品数 0