%aside.app-banner
  .app-banner-main
    .app-banner-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        .mercari-figure
          =image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4194600336"), size:'68x68'
        %ul.clearfix
          %li
            =link_to '', target: "_blank" do
              =image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336")
          %li
            =link_to '', target: "_blank" do
              =image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336")
    .smartphone-figure
      =image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4194600336")
      