%footer.global-footer
  %nav.clearfix
    
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          =link_to '会社概要（運営会社）',''
        %li
          =link_to '採用情報',''
        %li
          =link_to 'プレリリース',''
        %li
          =link_to '公式ブログ','',target:'_blank'
        %li
          =link_to 'メルカリロゴ利用ガイドライン','',target:'_blank'
        %li.footer-social-link
          =link_to '','https://twitter.com/mercari_jp',target:'_blank'
          //%i.icon-twitter：後日追記予定
        %li.footer-social-link
          =link_to '','https://www.facebook.com/mercarijp',target:'_blank'
          //%i.icon-facebook：後日追記予定
    
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          =link_to 'メルカリガイド',''
        %li
          =link_to 'らくらくメルカリ便',''
        %li
          =link_to 'ゆうゆうメルカリ便',''
        %li
          =link_to '大型メルカリ便',''
        %li
          =link_to '車体取引ガイド',''
        %li
          =link_to 'メルカリあんしん・あんぜん宣言！','',target:'_blank'
        %li
          =link_to '偽ブランド品撲滅への取り組み',''
        %li
          =link_to 'メルカリボックス',''
    
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      
      .inner-footer-cell
        %ul
          %li
            =link_to 'プライバシーポリシー',''
          %li
            =link_to 'メルカリ利用規約',''
          %li
            =link_to 'あんしんスマホサポート制度に関する利用特約',''
          %li
            =link_to 'コンプライアンスポリシー',''
      
      .inner-footer-cell
        %ul
          %li
            =link_to '個人データの安全管理に係る基本方針',''
          %li
            =link_to '特定商取引に関する表記',''
          %li
            =link_to '資金決済法に基づく表示',''
          %li
            =link_to '法令順守と犯罪抑止 のために',''
          %li
            =link_to '返品・返金ポリシー',''
    
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          =link_to '日本','',class:'active'
        %li
          =link_to 'United States',''
          
  .footer-bottom
    =link_to '','',class:'footer-logo'
    =image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4194600336")
    .copyright © 2019 Mercari
    