.footer_sell__button
  =link_to ''
  .footer_sell__button__circle
    .footer_sell__button__circle__text
      出品
    .footer_sell__button__circle__icon
      = fa_icon "camera", class: "icon fa-4x white"