// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-containercleanfix{
  margin: 40px auto 0;
  width: 1020px;
  height: 100vh;
  .my-content{
    float: right;
    width: 700px;
    height: 100%;
    // background-color: red;

    .mypage-tab_container_notification-todo{
      margin: 0;
      .mypage-tabs{
        border: 0;
        background: #eee;
        font-size: 0;
        height: 74px;
        &_2{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
            // &_notification-todo{
            //   text-decoration: none;
            //   position: relative;
            //   display: block;
            //   color: #333;
            //   font-size: 16px;
            //   line-height: 74px;
            // }
            &_notification{
              text-decoration: none;
              position: relative;
              display: block;
              color: #333;
              font-size: 16px;
              line-height: 74px;
              background-color: aqua
            }
            &_todo{
              text-decoration: none;
              position: relative;
              display: block;
              color: #333;
              font-size: 16px;
              line-height: 74px;
            }
        }
      }

      .tab-content{
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 50px;
        .mypage-item-list{
          list-style: none;
        }
      }
    }
    .mypage-tab_container{
      margin: 40px 0 0;
      background: black;
      width: 100%;
    }
  }
}