%section.purchased-box
  %2.purchased-box-head
    %ul.mypage-tabs
      %li.mypage-tabs_2
        = link_to '', '#', class: "mypage-tabs_2"
      %li.mypage-tabs_2
        = link_to '', '#', class: "mypage-tabs_2"