%section.purchased-box
  %h2.purchased-head 購入した情報
  %ul.purchased-tabs
    %li.purchased-tabs_2
      = link_to '取引中', '#', class: "mypage-tabs_2"
    %li.purchased-tabs_2
      = link_to '過去の取引', '#', class: "mypage-tabs_2"