<table class="product-detail-table">
  <tbody>
    <tr>
    <th>出品者</th>
      <td>
        <a href="https://www.mercari.com/jp/u/830352072/">JUNNA</a>
      </td>
    </tr>
    <tr>
      <th>カテゴリー</th>
      <td>
        <a href="https://www.mercari.com/jp/category/1/"><div>レディース</div></a>
        <a href="https://www.mercari.com/jp/category/21/">
          <div class="product-detail-table-sub-category"><i class="icon-arrow-right"></i> アクセサリー</div>
        </a>
        <a href="https://www.mercari.com/jp/category/227/">
          <div class="product-detail-table-sub-sub-category"><i class="icon-arrow-right"></i> ブレスレット</div>
        </a>
      </td>
    </tr>
    <tr>
      <th>ブランド</th>
      <td>
      </td>
    </tr>
    <tr>
      <th>商品の状態</th>
      <td>新品、未使用</td>
    </tr>
    <tr>
      <th>配送料の負担</th>
      <td>送料込み(出品者負担)</td>
    </tr>
    <tr>
      <th>配送の方法</th>
      <td>普通郵便(定形、定形外)</td>
    </tr>
    <tr>
      <th>配送元地域</th>
      <td><a href="https://www.mercari.com/jp/area/40/">福岡県</a></td>
    </tr>
    <tr>
      <th>発送日の目安</th>
      <td>1~2日で発送</td>
    </tr>
  </tbody>
</table>
