.product-change-box
  = link_to "商品の編集", root_path, class: "btn-default btn-red"
  %p.text-center or
  %button.btn-default.btn-gray{type: "submit"} 出品を一旦停止する
  %button.btn-default.btn-gray{"data-modal": "delete-item", "data-open": "modal"} この商品を削除する