%table.product-detail-table
  %tbody
    %tr
      %th 出品者
      %td
        %a{:href => "https://www.mercari.com/jp/u/830352072/"} JUNNA
    %tr
      %th カテゴリー
      %td
        %a{:href => "https://www.mercari.com/jp/category/1/"}
          %div レディース
        %a{:href => "https://www.mercari.com/jp/category/21/"}
          .product-detail-table-sub-category
            %i.icon-arrow-right
            アクセサリー
        %a{:href => "https://www.mercari.com/jp/category/227/"}
          .product-detail-table-sub-sub-category
            %i.icon-arrow-right
            ブレスレット
    %tr
      %th ブランド
      %td
    %tr
      %th 商品の状態
      %td 新品、未使用
    %tr
      %th 配送料の負担
      %td 送料込み(出品者負担)
    %tr
      %th 配送の方法
      %td 普通郵便(定形、定形外)
    %tr
      %th 配送元地域
      %td
        %a{:href => "https://www.mercari.com/jp/area/40/"} 福岡県
    %tr
      %th 発送日の目安
      %td 1~2日で発送
