.item-social-media-box
  %ul.item-social-media-box_social-media-box
    %li
      = fa_icon "facebook-square", class: "icon_facebook fa-fw"
    %li
      = fa_icon "twitter-square", class: "icon_twitter fa-fw"
    %li
      = fa_icon "pinterest-square", class: "icon_pinterest fa-fw"
