.product-detail-message
  .product-detail-message_product-message
    .product-detail-message_product-message__message-content
      %form{class: "message-form", action: "link_path", method: "POST"}
        %p="相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。"
        %textarea{class: "textarea-default"}
        %input{class: "message-submit btn-default btn-gray", type: "submit", value: "コメントする"}
