.nav-product-link-prev-next.clearfix
  %li.nav-product-link-prev
    = fa_icon "chevron-left", class: "icon"
    = link_to "Prev",{href: "/index"},{class: "link"}
  %li.nav-product-link-next
    = link_to "Next",{href: "/index"},{class: "link"}
    = fa_icon "chevron-right", class: "icon"
