.modal-inner
  %div
    %h3.modal-head 出品が完了しました
    .sell-modal-body
      あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
      %button.btn-default.btn-red
        = link_to '続けて出品する', 'https://www.mercari.com/jp/sell/' , style: 'text-decoration:none;color:white'
      %p.text-center
        = link_to '商品ページへ行ってシェアする', '' ,style: 'text-decoration:none;color:#0099E8'#別途出品商品の詳細ページへ遷移追記予定
 