.main_container 
  = render 'shared/simple-header'
  .main-contents
    .main-contents_conteiner
      .main-contents_conteiner_inner
        %h2.header-text
          商品の情報を入力
        .sell-form
          .sell-form_image-box
            .sell-upload_text-top
            .sell-upload_text-bottom
            .sell-box_container
              .sell-box_container_drop-box