@mixin require-tag($color: #fff, $fSize: 12px) {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $color;
    font-size: $fSize;
    vertical-align: top;
}
